.span2
.span7
  %h1=t "listing.contract"
  .well
    %table.table.table-striped
      = render :partial => "contract_table", :locals => {:life_insurance_contracts => @life_insurance_contracts}
  %br

  -if can? :create, LifeInsuranceContract
    = link_to t('new.life_insurance'), new_life_insurance_path, :class => "btn"
