.span2
.span7
  %h1=t "new.contract"

  = render 'form'

  - if user_signed_in?
    = link_to t('shared.back_home'), current_user, :class => "btn"
  - if can? :index, LifeInsuranceContract
    = link_to t('shared.back'), life_insurance_contracts_path, :class => "btn"
