%h1 Listing account_units

%table
  %tr
    %th
    %th
    %th

  - @account_units.each do |account_unit|
    %tr
      %td= link_to 'Show', account_unit
      %td= link_to 'Edit', edit_account_unit_path(account_unit)
      %td= link_to 'Destroy', account_unit, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Account unit', new_account_unit_path
