.span2
.span7
  %h1=t "editing.broker"

  = render 'form'

  .btn-group
    - if can? :index, Broker
      = link_to brokers_path, :class => 'btn' do
        %i.icon-arrow-left
        =t 'shared.back'  
    - else
      = link_to root_path, :class => 'btn' do
        %i.icon-user
        =t 'shared.back'
    - if can? :read, @broker
      = link_to @broker, :class => 'btn' do
        %i.icon-eye-open
        =t 'shared.show'
